include ../includes/head.pug
body.container
    br
    p poemsbyparker
    div
        ol
            each poem in poems
                form(name='poem', action=`/poem`, method='GET')
                    input(type='hidden', name='collection', value=`${poem.collection_name}`)
                    input(type='hidden', name='title', value=`${poem.title}`)
                    a(href='javascript:document.forms["poem"].submit()') #{poem.title}