include ../includes/head.pug
body.container
    br
    p poemsbyparker
    div
        ol
            each poem in poems
                a(href=`/poems/${poem.id}`)
                    li #{poem.title}