include ../includes/head.pug
body.container
    br
    p 
        span 
            strong #{poem.title}
            if poem.date_written
                em  - #{poem.date_written}

    each line in lines
        p #{line.content}